@model ProjetoModeloDDD.MVC.ViewModels.CarroViewModel

@{
    ViewBag.Title = "Cadastro de carro";
    ViewBag.BtnVoltar = true;
    ViewBag.NavItemExtra = new string[] {
     " <span class=\"nav-link gerarCadastro\">Gerar cadastro</span>"
 };
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row g-3">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="col-md-6">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Modelo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Modelo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Modelo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Velocidade, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Velocidade, new { htmlAttributes = new { @class = "form-control LimiteNumerico", type="number", max="500", min="0" } })
                @Html.ValidationMessageFor(model => model.Velocidade, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-md-6">
            @Html.LabelFor(model => model.Ano, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-12">
                @Html.EditorFor(model => model.Ano, new { htmlAttributes = new { @class = "form-control LimiteNumerico", 
               type = "number", max="2050", min="2000" } })
                @Html.ValidationMessageFor(model => model.Ano, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-totvs">Cadastrar</button>
        </div>
    </div>
}

<script src="~/Scripts/cadastro.js"></script>
<script>
    document.querySelector(".gerarCadastro").addEventListener("click", function () {
        document.querySelector("#Nome").value = GerarTextoAleatorio(1, 1, 2);
        document.querySelector("#Modelo").value = GerarTextoAleatorio(1, 1, 2);
        document.querySelector("#Velocidade").value = Math.floor(Math.random() * 25) + 50;
        document.querySelector("#Ano").value = Math.floor(Math.random() * 10) + 2010;
    })
</script>
