@model ProjetoModeloDDD.MVC.ViewModels.AnimalViewModel

@{
    ViewBag.Title = "Detalhes do animal";
    ViewBag.ID = Model.AnimalID;
    ViewBag.BtnVoltar = true;
    ViewBag.BtnEditar = true;
    ViewBag.BtnRemover = true;
}
<div>
    <h4>
        @Html.DisplayFor(model => model.AnimalID)
        - @Html.DisplayFor(model => model.Nome)
        <span class="badge text-bg-info">@Html.DisplayFor(model => model.Especie) </span>
    </h4>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Especie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Especie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Idade)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Idade)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Som)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Som)
        </dd>
    </dl>
</div>
