@model IEnumerable<ProjetoModeloDDD.MVC.ViewModels.CorretoraDeImoveisViewModel>

@{
    ViewBag.Title = "Imóveis";
    ViewBag.PlaceHolderPesquisar = "(ID, Endereço, Preço, Tipo)";
    ViewBag.Pesquisar = true;
    ViewBag.BtnCadastro = true;
}


@if (ViewBag.CountTotal > 0)
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        Preço médio de todos os imóveis: <strong>@string.Format("{0:C}", Convert.ToDecimal(ViewBag.ValorTotal / ViewBag.CountTotal));</strong>
        <br />
        

        Preço médio dos imóveis ativos: <strong>@string.Format("{0:C}", Convert.ToDecimal(ViewBag.ValorAtivosTotal / ViewBag.CountAtivos));</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CorretoraDeImoveisID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Endereco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CorretoraDeImoveisID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Endereco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo)
            </td>
            <td class="d-grid gap-2">
                <button type="button" class="btn btn-success btn-sm editarEstoque"
                        data-id="@item.CorretoraDeImoveisID" data-bs-toggle="modal" data-bs-target="#modalIndex">
                    @Html.DisplayFor(modelItem => item.Preco)
                </button>
            </td>
            <td>
                @if (item.Ativo)
                {
                    <span class="badge text-bg-success">Sim</span>
                }
                else
                {
                    <span class="badge text-bg-danger">Não</span>
                }
            </td>
            <td class="td-menu">
                @Html.ActionLink("Editar", "Editar", new { id = item.CorretoraDeImoveisID }, new { @class = "btn btn-light btn-sm" })
                @Html.ActionLink("Detalhes", "Detalhes", new { id = item.CorretoraDeImoveisID }, new { @class = "btn btn-light btn-sm" })
            </td>
        </tr>
    }

</table>

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <h4 class="alert-heading">Métodos</h4>
    <p>Funções disponíveis na página <strong>@ViewBag.Title</strong></p>
    <hr>
    <ol class="list-group list-group-numbered">
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Listagem/Cadastrar/Editar/Detalhes/Remover/Pesquisar</div>
                Por padrão, é possível Cadastrar, Editar, Remover, Detalhar e Pesquisar itens que são mostrados em uma listagem na página inicial. Para remover é necessário
                entrar em "Editar" ou "Detalhes".
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Preço</div>
                É possível alterar o Preço do Imóvel ao clicar no botão verde no campo "Preço".
            </div>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Preço Médio dos Imóveis</div>
                Na parte superior da tela é mostrado o preço médio dos imóveis totais e também apenas dos imóveis disponíveis.
            </div>
        </li>


    </ol>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

@*SCRIPT*@

@section scripts
{
    <script>
        $(function () {
            $(".editarEstoque").click(function () {
                var $this = $(this);
                var id = $this.attr('data-id');
                var options = { keyboard: true };

                $.ajax({
                    type: "GET",
                    url: '/CorretoraDeImoveis/Preco/' + id + '?acesso=modal',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (data) {
                        Modal({
                            titulo: "Editar preço do imóvel",
                            data: data,
                            footer: false,
                            options: options
                        })
                    },
                    error: function () {
                        alert("Erro ao carregar o conteúdo");
                    }
                });
            });
        });
    </script>
}
